---
java:
  image: 'sdshmctspublic.azurecr.io/vh/bookings-api:20210603.5'
  applicationPort: 8080
  replicas: 2
  ingressHost: vh-bookings-api.{{ .Values.global.environment }}.platform.hmcts.net
  releaseNameOverride: vh-bookings-api
  readinessPath: /health/liveness
  livenessPath: /health/liveness
  livenessDelay: 360
  livenessPeriod: 120
  aadIdentityName: vh-aad-identity
  keyVaults:
    vh-infra-core:
      excludeEnvironmentSuffix: false
      resourceGroup: vh-infra-core-{{ .Values.global.environment }}
      usePodIdentity: true
      secrets:
        - servicebusqueue--connectionstring
        - connectionstrings--vhbookings
        - applicationinsights--instrumentationkey
    vh-bookings-api:
      excludeEnvironmentSuffix: false
      resourceGroup: vh-infra-core-{{ .Values.global.environment }}
      usePodIdentity: true
      secrets:
        - azuread--clientsecret
        - azuread--clientid
  environment:
    ASPNETCORE_URLS: http://+:8080
    AZUREAD__TENANTID: "fb6e0e22-0da3-4c35-972a-9d61eb256508"
    DISABLEHTTPSREDIRECTION: true
    SERVICEBUSQUEUE__QUEUENAME: bookings
    SERVICES__BOOKINGSAPIRESOURCEID: https://vh-bookings-api.{{ .Values.global.environment }}.platform.hmcts.net
    TESTING__TESTUSERNAMESTEM: "@hearings.reform.hmcts.net"
    Logging__LogLevel__Default: debug
    Logging__LogLevel__System: debug
    Logging__LogLevel__Microsoft: debug
