---
java:
  image: '${IMAGE_NAME}'
  ingressHost: ${SERVICE_FQDN}
  releaseNameOverride: ${RELEASE_NAME}
  environment: # TODO for testing only, do not merge
    SERVICEBUSQUEUE__QUEUENAME: marco-dev-booking