---
java:
  image: 'sdshmctspublic.azurecr.io/vh/bookings-api:latest'
  applicationPort: 8080
  ingressHost: vh-bookings-api.{{ .Values.global.environment }}.platform.hmcts.net
  releaseNameOverride: vh-bookings-api
  readinessPath: /healthcheck/health
  livenessPath: /healthcheck/health
  livenessDelay: 360
  livenessPeriod: 120
  replicas: 2
  aadIdentityName: vh-aad-identity
  keyVaults:
    vh-infra-core:
      excludeEnvironmentSuffix: false
      resourceGroup: vh-infra-core-{{ .Values.global.environment }}
      usePodIdentity: true
      secrets:
        - applicationinsights--instrumentationkey
        - azuread--tenantid
        - connectionstrings--vhbookings
        - servicebusqueue--connectionstring
    vh-bookings-api:
      excludeEnvironmentSuffix: false
      resourceGroup: vh-infra-core-{{ .Values.global.environment }}
      usePodIdentity: true
      secrets:
        - azuread--clientid
        - azuread--clientsecret
        - kinlyconfiguration--sipaddressstem
        - launchdarkly--sdkkey
        - name: azuread--identifieruri
          alias: azuread--bookingsapiresourceid
        - name: azuread--identifieruri
          alias: services--bookingsapiresourceid
  environment:
    ASPNETCORE_URLS: http://+:8080
    DISABLEHTTPSREDIRECTION: true
    FEATUREFLAGS__EJUDFEATURE: false
    FEATUREFLAGS__STAFFMEMBERFEATURE: true
    Logging__LogLevel__Default: debug
    Logging__LogLevel__Microsoft: debug
    Logging__LogLevel__System: debug
    SERVICEBUSQUEUE__QUEUENAME: marco-dev-booking
    TESTING__TESTUSERNAMESTEM: "@hearings.reform.hmcts.net"
    UseServiceBusFake: false