resources:
  repositories:
    - repository: azTemplates
      type: github
      name: hmcts/azure-devops-templates
      ref: refs/heads/azure-dns-updates
      endpoint: hmcts

parameters:
  - name: env
    type: string
    default: dev
    values:
      - dev

  - name: qaenv
    type: string
    default: demo
    values:
      - demo

  - name: git_repo_name
    type: string
    default: bookings-api

variables:
  - group: aks-cluster-info
  - template: variables/shared.yaml
    parameters:
      env: ${{ parameters.env }}
      git_repo_name: ${{ parameters.git_repo_name }}
      cluster: $(cluster)
  - name: prTagName
    value: 'pr-395'
  - name: dnsRecordName
    value: ${{ parameters.git_repo_name }}-${{ variables.prTagName }}

stages:
  - stage: Uninstall
    displayName: Uninstall from aks-$(cluster)-${{ parameters.env }}
    jobs:
      - job:
        steps:
          - template: templates/Containerisation/helm/helm-remove.yaml@azTemplates
            parameters: 
              helmVersion: $(chartVersion)
              azureSubscription: ${{ variables.subscriptionName }}
              kubernetesRG: "${{ variables.clusterResourceGroup }}"
              kubernetesCluster: "${{ variables.clusterName }}"
              chartPath: '${{ variables.chartPath }}'
              namespace: "vh"
              chartName: '${{ variables.chartName }}'
              imageTag: '${{ variables.prTagName }}'
              environment: ${{ parameters.env }}
              #additionalArgs: "-o json"
          - template: templates/Azure/Dns/private-dns-remove.yaml@azTemplates
            parameters: 
              subscriptionName: ${{ variables.subscriptionName }}
              dnsSubscriptionName: ${{ variables.dnsZoneSubscription }}
              dnsResourceGroupName: ${{ variables.dnsZoneResourceGroup }}
              zoneName: ${{ variables.dnsZone }}
              recordName: ${{ variables.dnsRecordName }}

  - stage: Install
    dependsOn: Uninstall
    displayName: Deploy Helm chart to ${{ parameters.qaenv }}-${{ variables.clusterName }}
    variables:
      - group: aks-cluster-info
      - template: variables/shared.yaml
        parameters:
          env: ${{ parameters.qaenv }}
          git_repo_name: ${{ parameters.git_repo_name }}
          cluster: $(cluster)
      - group: vh-github-app-credentials
      - name: prTagName
        value: 'pr-$(System.PullRequest.PullRequestNumber)'
      - name: dnsRecordName
        value: ${{ parameters.git_repo_name }}-${{ variables.prTagName }}
    jobs:
      - job:
        steps:
          - bash: |
              echo "our PR id is:"
              echo $(System.PullRequest.PullRequestNumber)
          - checkout: self
        
          - template: templates\Github\get-app-token.yaml@azTemplates
            parameters:
              privateKeyFileName: ${{ variables.gh_app_private_key_file_name }}
              appId: $(gh_app_app_id)