name: $(Date:yyyyMMddhhmm)-$(Rev:r)

resources:
  repositories:
    - repository: azTemplates
      type: github
      name: hmcts/azure-devops-templates
      ref: vh-close-pr
      endpoint: hmcts

pr: none

variables:
  - group: aks-cluster-info
  - group: vh-github-app-credentials
  - name: prNumber
    value: ""
  - name: appName
    value: "this"
#parameters: 
#  - name: prNumber
#    displayName: Pull Request Number 
#    type: number

stages:
  - stage: uninstall_dev
    displayName: Uninstall Dev Helm and DNS
    dependsOn: []
    variables:
      - template: variables/dev.yaml
      - template: variables/shared.yaml
        parameters:
          env: ${{ variables.env }}
          cluster: $(dev_cluster)
          prNumber: ${{ variables.prNumber }}
      - name: dnsRecordName
        value: ${{ variables.git_repo_name }}-${{ variables.prTagPrefix }}
    jobs:
      - job: helm_uninstall
        displayName: Uninstall Helm from Dev
        steps:
        - bash: |
            echo "$(appName)"
            
        - template: templates/Containerisation/helm/helm-uninstall.yaml@azTemplates
          parameters:
            namespace: 'vh'
            releaseName: "${{ variables.chartName }}-${{ variables.prTagPrefix }}"
            azureSubscription: "${{ variables.subscriptionName }}"
            aksResourceGroupName: "${{ variables.clusterResourceGroup }}"
            aksClusterName: "${{ variables.clusterName }}"
      - job: dns_uninstall
        displayName: Uninstall DNS from Dev
        steps:
        - template: templates\Azure\Dns\private-dns-remove.yaml@azTemplates
          parameters:
            subscriptionName: "${{ variables.subscriptionName }}"
            dnsSubscriptionName: "${{ variables.dnsZoneSubscription }}"
            dnsResourceGroupName: "${{ variables.dnsZoneResourceGroup }}"
            zoneName: ${{ variables.dnsZone }}
            recordName: ${{ variables.dnsRecordName }}

  - stage: uninstall_demo
    displayName: Uninstall Demo Helm and DNS
    dependsOn: []
    variables:
      - template: variables/qa.yaml
      - template: variables/shared.yaml
        parameters:
          env: ${{ variables.env }}
          cluster: $(demo_cluster)
          prNumber: ${{ variables.prNumber }}
      - name: dnsRecordName
        value: ${{ variables.git_repo_name }}-${{ variables.prTagPrefix }}
    jobs:
      - job: helm_uninstall
        displayName: Uninstall Helm from Demo
        steps:
        - template: templates/Containerisation/helm/helm-uninstall.yaml@azTemplates
          parameters:
            namespace: 'vh'
            releaseName: "${{ variables.chartName }}-${{ variables.prTagPrefix }}"
            azureSubscription: "${{ variables.subscriptionName }}"
            aksResourceGroupName: "${{ variables.clusterResourceGroup }}"
            aksClusterName: "${{ variables.clusterName }}"
      - job: dns_uninstall
        displayName: Uninstall DNS from Demo
        steps:
        - template: templates\Azure\Dns\private-dns-remove.yaml@azTemplates
          parameters:
            subscriptionName: "${{ variables.subscriptionName }}"
            dnsSubscriptionName: "${{ variables.dnsZoneSubscription }}"
            dnsResourceGroupName: "${{ variables.dnsZoneResourceGroup }}"
            zoneName: ${{ variables.dnsZone }}
            recordName: ${{ variables.dnsRecordName }}
