name: $(Date:yyyyMMddhhmm)-$(Rev:r)

resources:
  repositories:
    - repository: azTemplates
      type: github
      name: hmcts/azure-devops-templates
      ref: master
      endpoint: hmcts

pr:
  - master

variables:
  - group: aks-cluster-info
  - group: vh-github-app-credentials

#####################################################
# Build Docker Image. ###############################
stages:
  - stage: Dock
    displayName: Build and Push Docker Image
    variables: 
      - group: aks-cluster-info
      - template: variables/dev.yaml
      - template: variables/shared.yaml
        parameters:
          env: ${{ variables.env }}
          cluster: $(dev_cluster)
      - group: vh-github-app-credentials
    jobs:
    - job: Dock
      displayName: "Build and Push image ${{ variables.git_repo_name }}"
      steps:
        - checkout: self

        - template: templates\Containerisation\docker\docker-compose.yaml@azTemplates
          parameters:
            azureSubscription: ${{ variables.acrSubscription }}
            acrName: ${{ variables.acrName }}
            repositoryName:  ${{ variables.repositoryName }}

        - template: templates\Containerisation\docker\docker-push-azure.yaml@azTemplates
          parameters:
            azureSubscription: ${{ variables.acrSubscription }}
            acrName: ${{ variables.acrName }}
            repositoryName:  ${{ variables.repositoryName }}
            imageName: "${{ replace(variables.git_repo_name, '-', '') }}"
            imageTags:
              - '${{ variables.prTagName }}'

#####################################################
# Run Entity Framework Dev. #########################
  - stage: EF_Dev
    dependsOn: Dock
    displayName: Run EF Dev
    variables:
      - group: vh-sql-credentials
      - template: variables/dev.yaml
      - template: variables/shared.yaml
        parameters:
          env: ${{ variables.env }}
          cluster: $(dev_cluster)
    jobs:
      - job: Run_Entity_Framework_Dev
        pool:
         vmImage: 'windows-latest'
        displayName: Run EF Dev
        steps:
          - template: templates/Database/Firewall/addSqlFirewallRule.yaml@azTemplates
            parameters:
              sqlServerResourceGroup: ${{ variables.vhResourceGroup }}
              sqlServerName: ${{ variables.vhSQLServerName }}
              azureSubscription: ${{ variables.subscriptionName }}

          - template: templates/Database/EntityFramework/generate-script.yaml@azTemplates
            parameters:
              outputPath: $(Build.StagingDirectory)
              contextName: BookingsDbContext
              workingPath: $(System.DefaultWorkingDirectory)/BookingsApi/BookingsApi
              projectName: BookingsApi.csproj

          - template: templates/Database/EntityFramework/deploy-ms-sql.yaml@azTemplates
            parameters:
              azureSubscription: ${{ variables.subscriptionName }}
              dbServerName:  "${{ variables.vhSQLServerName }}.database.windows.net"
              databaseName: ${{ variables.BookingsApiDbName }}
              sqlScriptLocation: $(Build.StagingDirectory)/BookingsDbContext.sql
              sqlUsername: $(vh-infra-core-dev-user)
              sqlPassword: $(vh-infra-core-dev-pw)
          
          - template: templates/Database/Firewall/removeSqlFirewallRule.yaml@azTemplates
            parameters:
              sqlServerResourceGroup: ${{ variables.vhResourceGroup }}
              sqlServerName: ${{ variables.vhSQLServerName }}
              azureSubscription: ${{ variables.subscriptionName }}

#####################################################
# Deploy Helm Chart to Dev. ######################### 
  - stage: Install
    dependsOn: EF_Dev
    displayName: Deploy Helm chart to Dev AKS
    variables:
      - group: vh-sql-credentials
      - template: variables/dev.yaml
      - template: variables/shared.yaml
        parameters:
          env: ${{ variables.env }}
          cluster: $(dev_cluster)
      - name: dnsRecordName
        value: ${{ variables.git_repo_name }}-${{ variables.prTagPrefix }}
    jobs:
      - job: aks_push
        dependsOn: Run_Entity_Framework
        displayName: Deploy to ${{ variables.clusterName }}
        steps:
          - template: templates/Containerisation/helm/helm-install.yaml@azTemplates
            parameters:
              privateKeyFileName: ${{ variables.gh_app_private_key_file_name }}
              appId: $(gh_app_app_id)
              envValuesTemplatePath: ${{ variables.envValuesTemplatePath }}
              envValuesPath: ${{ variables.envValuesPath }}
              acrName: ${{ variables.acrName }}
              repositoryName: ${{ variables.repositoryName }}
              prTagName: ${{ variables.prTagName }}
              releaseName: "${{ variables.chartName }}-${{ variables.prTagPrefix }}"
              dnsRecordName: ${{ variables.dnsRecordName }}
              dnsZone: ${{ variables.dnsZone }}
              env: ${{ variables.env }}
              chartName: ${{ variables.chartName }}
              chartPath: ${{ variables.chartPath }}
              subscriptionName: "${{ variables.subscriptionName }}"
              aksResourceGroupName: "${{ variables.clusterResourceGroup }}"
              aksClusterName: "${{ variables.clusterName }}"
              dnsSubscriptionName: "${{ variables.dnsZoneSubscription }}"
              dnsResourceGroupName: "${{ variables.dnsZoneResourceGroup }}"

#####################################################
# Manual Approval To QA. ############################
  - stage: Wait
    jobs:
      - job: Wait
        displayName: "Approve for release to QA"
        pool: server
        steps:
          - task: ManualValidation@0
            timeoutInMinutes: 1440 # task times out in 1 day
            inputs:
              instructions: 'Please approve the release of PR-$(System.PullRequest.PullRequestNumber) to the QA environment to resume'
              onTimeout: 'reject'
#####################################################
# Run Entity Framework QA. ##########################
  - stage: EF_QA
    dependsOn: Wait
    displayName: Run EF QA
    variables:
      - group: vh-sql-credentials
      - template: variables/qa.yaml
      - template: variables/shared.yaml
        parameters:
          env: ${{ variables.env }}
          cluster: $(demo_cluster)
    jobs:
      - job: Run_Entity_Framework_QA
        pool:
         vmImage: 'windows-latest'
        displayName: Run EF QA
        steps:
          - template: templates/Database/Firewall/addSqlFirewallRule.yaml@azTemplates
            parameters:
              sqlServerResourceGroup: ${{ variables.vhResourceGroup }}
              sqlServerName: ${{ variables.vhSQLServerName }}
              azureSubscription: ${{ variables.subscriptionName }}

          - template: templates/Database/EntityFramework/generate-script.yaml@azTemplates
            parameters:
              outputPath: $(Build.StagingDirectory)
              contextName: BookingsDbContext
              workingPath: $(System.DefaultWorkingDirectory)/BookingsApi/BookingsApi
              projectName: BookingsApi.csproj

          - template: templates/Database/EntityFramework/deploy-ms-sql.yaml@azTemplates
            parameters:
              azureSubscription: ${{ variables.subscriptionName }}
              dbServerName:  "${{ variables.vhSQLServerName }}.database.windows.net"
              databaseName: ${{ variables.BookingsApiDbName }}
              sqlScriptLocation: $(Build.StagingDirectory)/BookingsDbContext.sql
              sqlUsername: $(vh-infra-core-demo-user)
              sqlPassword: $(vh-infra-core-demo-pw)
          
          - template: templates/Database/Firewall/removeSqlFirewallRule.yaml@azTemplates
            parameters:
              sqlServerResourceGroup: ${{ variables.vhResourceGroup }}
              sqlServerName: ${{ variables.vhSQLServerName }}
              azureSubscription: ${{ variables.subscriptionName }}

#####################################################
# Deploy Helm Chart to QA. ##########################
  - stage: Install_Demo
    displayName: Deploy Helm chart to QA AKS
    dependsOn: EF_QA
    variables:
      - template: variables/qa.yaml
      - template: variables/shared.yaml
        parameters:
          env: ${{ variables.env }}
          cluster: $(demo_cluster)
      - name: dnsRecordName
        value: ${{ variables.git_repo_name }}-${{ variables.prTagPrefix }}
    jobs:
      - job: aks_push
        displayName: Deploy to ${{ variables.clusterName }}
        steps:
        - template: templates/Containerisation/helm/helm-install.yaml@azTemplates
          parameters:
            privateKeyFileName: ${{ variables.gh_app_private_key_file_name }}
            appId: $(gh_app_app_id)
            envValuesTemplatePath: ${{ variables.envValuesTemplatePath }}
            envValuesPath: ${{ variables.envValuesPath }}
            acrName: ${{ variables.acrName }}
            repositoryName: ${{ variables.repositoryName }}
            prTagName: ${{ variables.prTagName }}
            releaseName: "${{ variables.chartName }}-${{ variables.prTagPrefix }}"
            dnsRecordName: ${{ variables.dnsRecordName }}
            dnsZone: ${{ variables.dnsZone }}
            env: ${{ variables.env }}
            chartName: ${{ variables.chartName }}
            chartPath: ${{ variables.chartPath }}
            subscriptionName: "${{ variables.subscriptionName }}"
            aksResourceGroupName: "${{ variables.clusterResourceGroup }}"
            aksClusterName: "${{ variables.clusterName }}"
            dnsSubscriptionName: "${{ variables.dnsZoneSubscription }}"
            dnsResourceGroupName: "${{ variables.dnsZoneResourceGroup }}"