trigger:
  - VIH-8960-sds-release

pr: none

resources:
  repositories:
    - repository: azTemplates
      type: github
      name: hmcts/azure-devops-templates
      ref: master
      endpoint: hmcts

#####################################################
# Build Docker Image & Generate EF Script. ##########
stages:
- stage: Dock
  displayName: Build and Push Docker Image
  variables:
    - ${{ if contains(variables['Build.SourceBranch'], 'refs/heads/release') }}:
      - template: variables/production.yaml
    - ${{ else }}:
      - template: variables/staging.yaml
    - template: variables/shared.yaml
  jobs:
    - job: Docker_Build
      displayName: "Docker Build and Push"
      steps:
        - checkout: self
      
        - template: templates\Containerisation\docker\docker-compose.yaml@azTemplates
          parameters:
            azureSubscription: ${{ variables.acrSubscription }}
            acrName: ${{ variables.acrName }}
            repositoryName:  ${{ variables.repositoryName }}
          
        - template: templates\Containerisation\docker\docker-push-azure.yaml@azTemplates
          parameters:
            azureSubscription: ${{ variables.acrSubscription }}
            acrName: ${{ variables.acrName }}
            repositoryName:  ${{ variables.repositoryName }}
            imageName: "${{ variables.imageName }}"
            imageTags:
              - ${{ if contains(variables['Build.SourceBranch'], 'refs/heads/release') }}:
                - '${{ variables.releaseTagName }}'
                - 'latest'
              - ${{ if eq(variables['Build.SourceBranchName'], 'VIH-8960-sds-release') }}:
                - '${{ variables.stagingTagName }}'

    - job: Generate_Entity_Framework_Script
      displayName: "Generate Entity Framework Script"
      steps:
      - template: templates/Database/EntityFramework/generate-script.yaml@azTemplates
        parameters:
          outputPath: $(Build.StagingDirectory)
          contextName: ${{ variables.efContextName }}
          workingPath: $(System.DefaultWorkingDirectory)/BookingsApi/BookingsApi
          projectName: ${{ variables.efProjectName }}

      - task: PublishPipelineArtifact@1
        displayName: Publish Artifacts
        inputs:
          targetPath: $(Build.StagingDirectory)
          publishLocation: Pipeline
          artifact: ${{ variables.efContextName }}-$(Build.BuildId)

#####################################################
# Run Entity Framework Staging. #####################

- stage: Approve_Entity_Framework_Staging
  condition: eq(variables['Build.SourceBranchName'], 'VIH-8960-sds-release')
  displayName: 'Entity Framework Staging'
  pool:
    vmImage: 'ubuntu-latest'
  jobs:
    - job: waitForValidation
      displayName: 'Approve Staging Release'
      pool: server
      timeoutInMinutes: 4320 # job times out in 3 days
      steps:
      - task: ManualValidation@0
        timeoutInMinutes: 1440 # task times out in 1 day
        inputs:
          instructions: 'Please Approve for Entity Framework Staging'
          onTimeout: 'reject'

- stage: Run_Entity_Framework_Staging
  condition: eq(variables['Build.SourceBranchName'], 'VIH-8960-sds-release')
  dependsOn: Approve_Entity_Framework_Staging
  displayName: Run Entity Framework Staging
  variables:
    - template: variables/staging.yaml
    - template: variables/shared.yaml
      parameters:
        env: ${{ variables.env }}
  jobs:
    - job: Run_Entity_Framework_Staging
      pool:
        vmImage: 'windows-latest' # This Job Must be Run on Windows
      displayName: Run Entity Framework Staging
      steps:
        - download: current
          displayName: Download Sql Artifact

        - template: templates/Database/EntityFramework/run-entity-framework.yaml@azTemplates
          parameters:
            sqlServerResourceGroup: ${{ variables.vhResourceGroup }}
            sqlServerName: ${{ variables.vhSQLServerName }}
            databaseName: ${{ variables.BookingsApiDbName }}
            azureSubscription: ${{ variables.subscriptionName }}
            sqlScriptLocation: "$(Pipeline.Workspace)/${{ variables.efContextName }}-$(Build.BuildId)/${{ variables.efContextName }}.sql"
            kvfirewallRequired: false
            kvName: ${{ variables.vhKeyVault }}
            kvSqlPasswordSecret: ${{ variables.vhSqlPasswordSecret }}
            kvSqlUsernameSecret: ${{ variables.vhSqlUsernameSecret }}