resources:
  repositories:
    - repository: azTemplates
      type: github
      name: hmcts/azure-devops-templates
      ref: refs/heads/vh-qa-changes
      endpoint: hmcts

pr:
  - master

variables:
  - group: aks-cluster-info
  - group: vh-github-app-credentials

stages:
  - stage: Dock
    displayName: Build and Push Docker Image
    variables: 
      - group: aks-cluster-info
      - template: variables/dev.yaml
      - template: variables/shared.yaml
        parameters:
          env: ${{ variables.env }}
          cluster: $(cluster)
      - group: vh-github-app-credentials
      - name: prNumber
        value: 666 #$(System.PullRequest.PullRequestNumber)
      - name: prTagName
        value: pr-$(prNumber)-$(Build.SourceVersion)-$(timestamp)
      - name: timestamp
        value: $[format('{0:HH}{0:mm}{0:dd}{0:MM}{0:yyyy}', pipeline.startTime)]

    jobs:
    - job: Dock
      steps:
        - checkout: self
        - powershell: |
            Write-Host "##[section]Setting Image Tag, Please Wait..."
            Write-Host "##vso[task.setvariable variable=imageTag;isoutput=true]$(prTagName)"
            Write-Host "Tag: $(prTagName) Set"
          name: setImageTag
          displayName: Set Image Tag

        - template: templates\Containerisation\docker\docker-compose.yaml@azTemplates
          parameters:
            azureSubscription: ${{ variables.acrSubscription }}
            acrName: ${{ variables.acrName }}
            repositoryName:  ${{ variables.repositoryName }}

        - template: templates\Containerisation\docker\docker-push-azure.yaml@azTemplates
          parameters:
            azureSubscription: ${{ variables.acrSubscription }}
            acrName: ${{ variables.acrName }}
            repositoryName:  ${{ variables.repositoryName }}
            imageName: "${{ replace(variables.git_repo_name, '-', '') }}"
            imageTags:
              - '${{ variables.setImageTag.imageTag }}'

  - stage: Install
    dependsOn: Dock
    displayName: Deploy Helm chart to $(clusterName)
    variables:
      - template: variables/dev.yaml
      - template: variables/shared.yaml
        parameters:
          env: ${{ variables.env }}
          cluster: $(cluster)
      - name: prTagName
        value: $[ stageDependencies.Dock.Dock.outputs['setImageTag.imageTag'] ]
      - name: dnsRecordName
        value: ${{ variables.git_repo_name }}-${{ variables.prTagName }}
    jobs:
      - job:
        steps:
          - template: templates/Containerisation/helm/helm-install.yaml@azTemplates
            parameters:
              privateKeyFileName: ${{ variables.gh_app_private_key_file_name }}
              appId: $(gh_app_app_id)
              envValuesTemplatePath: ${{ variables.envValuesTemplatePath }}
              envValuesPath: ${{ variables.envValuesPath }}
              acrName: ${{ variables.acrName }}
              repositoryName: ${{ variables.repositoryName }}
              prTagName: ${{ variables.prTagName }}
              dnsRecordName: ${{ variables.dnsRecordName }}
              dnsZone: ${{ variables.dnsZone }}
              env: ${{ variables.devEnv }}
              chartName: ${{ variables.chartName }}
              chartPath: ${{ variables.chartPath }}
              subscriptionName: "${{ variables.subscriptionName }}"
              aksResourceGroupName: "${{ variables.clusterResourceGroup }}"
              aksClusterName: "${{ variables.clusterName }}"
              dnsSubscriptionName: "${{ variables.dnsZoneSubscription }}"
              dnsResourceGroupName: "${{ variables.dnsZoneResourceGroup }}"  

  - stage: Wait
    jobs:
      - job: Wait
        displayName: "Approve for release to QA"
        pool: server
        steps:
          - task: ManualValidation@0
            timeoutInMinutes: 1440 # task times out in 1 day
            inputs:
              instructions: 'Please approve the release of PR-$(System.PullRequest.PullRequestNumber) to the QA environment to resume'
              onTimeout: 'reject'

  - stage: Install_Demo
    displayName: Deploy Helm chart to ${{ variables.devEnv }}-${{ variables.clusterName }}
    variables:
      - template: variables/dev.yaml
      - template: variables/shared.yaml
        parameters:
          env: ${{ variables.env }}
          cluster: ${{ variables.cluster }}
      - name: prTagName
        value: $[ stageDependencies.Dock.Dock.outputs['setImageTag.imageTag'] ]
      - name: dnsRecordName
        value: ${{ variables.git_repo_name }}-${{ variables.prTagName }}
    jobs:
      - job:
        steps:
        - template: templates/Containerisation/helm/helm-install.yaml@azTemplates
          parameters:
            privateKeyFileName: ${{ variables.gh_app_private_key_file_name }}
            appId: $(gh_app_app_id)
            envValuesTemplatePath: ${{ variables.envValuesTemplatePath }}
            envValuesPath: ${{ variables.envValuesPath }}
            acrName: ${{ variables.acrName }}
            repositoryName: ${{ variables.repositoryName }}
            prTagName: ${{ variables.prTagName }}
            dnsRecordName: ${{ variables.dnsRecordName }}
            dnsZone: ${{ variables.dnsZone }}
            env: ${{ variables.qaEnv }}
            chartName: ${{ variables.chartName }}
            chartPath: ${{ variables.chartPath }}
            subscriptionName: "${{ variables.subscriptionName }}"
            aksResourceGroupName: "${{ variables.clusterResourceGroup }}"
            aksClusterName: "${{ variables.clusterName }}"
            dnsSubscriptionName: "${{ variables.dnsZoneSubscription }}"
            dnsResourceGroupName: "${{ variables.dnsZoneResourceGroup }}"