# Set variables once
variables:
  solutionType: DotNetCore # angularDotNetCore, dotNetCore, angular
  apiDirectory: "BookingsAPI/Bookings.API"
  sonarCloudExtraProperties: |
    sonar.cs.opencover.reportsPaths=$(Common.TestResultsDirectory)\Coverage\coverage.opencover.xml
    sonar.coverage.exclusions=**/Bookings.API/Program.cs, **/Bookings.API/Startup.cs, **/Bookings.API/Extensions/**, **/Bookings.API/Swagger/**, **/Bookings.API/ConfigureServicesExtensions.cs, **/Testing.Common/**, **/Bookings.Common/**, **/Bookings.DAL/Mappings/**, **/Bookings.DAL/SeedData/**, **/Bookings.DAL/BookingsDbContext.cs, **/Bookings.DAL/**/DesignTimeHearingsContextFactory.cs, **/Bookings.DAL/Migrations/**, **/Bookings.Domain/Ddd/**, **/Bookings.DAL/Commands/Core/**, **/Bookings.DAL/Queries/Core/**, **/Testing.Common/**
    sonar.cpd.exclusions="**/Program.cs, **/Startup.cs, Bookings.DAL/Mappings/**, Migrations/**, SeedData/**, DesignTimeHearingsContextFactory.cs, Ddd/**, Testing.Common/**, Bookings.API/ConfigureServicesExtensions.cs, Bookings.API/Extensions/**, Bookings.API/Swagger/**, Bookings.Common/**"
  coverletCoverageExclusions: "[*]Bookings.Common.*,[*]Testing.Common.*,[Bookings.DAL]Bookings.DAL.BookingsDbContext,[*]Bookings.DAL.Mappings,[*]Bookings.DAL.Migrations,[*]Bookings.DAL.SeedData.*,[*]Bookings.DAL.Exceptions.*,[*]Bookings.DAL.Mappings.*,[*]Bookings.DAL.Migrations.*,[*]Bookings.DAL.Commands.Core.*,[*]Bookings.DAL.Queries.Core.*,[*]Bookings.Domain.Ddd.*,[Bookings.DAL]Bookings.DAL.DesignTimeHearingsContextFactory,[Bookings.API]Bookings.API.ConfigureServicesExtensions,[*]Bookings.API.Extensions.*,[*]Bookings.API.Swagger.*,[Bookings.API]Bookings.API.Program,[Bookings.API]Bookings.API.Startup"
  integrationTestsAppSettingsTransform: '
    "AzureAd/ClientId":"$(vh-admin-web-appid)",
    "AzureAd/ClientSecret":"$(vh-admin-web-key)",
    "AzureAd/TenantId":"$(tenantid)",
    "Testing/UsernameStem":"$(username-stem)",
    "Services/BookingsApiResourceId":"$(vh-bookings-api-identifieruris)"
    '
  dalWorkingDirectory: "BookingsAPI/Bookings.DAL"
  keyVaultName: vhcoreinfrahtdev # Used to get secrets for integration tests
  secretsFilter: "vh-admin-web-appid,vh-admin-web-key,tenantid,vh-bookings-api-identifieruris" # filters out secrets returned from key vault

# GitHub Repo that conatins build templates. Reference https://docs.microsoft.com/en-us/azure/devops/pipelines/process/templates?view=vsts#using-other-repositories
resources:
  repositories:
    - repository: azureDevOpsTemplates
      type: github
      name: hmcts/azure-devops-templates
      ref: refs/heads/master # ref name to use, defaults to 'refs/heads/master'
      endpoint: hmcts

trigger:
  branches:
    include:
    - master
    - release/*
    - hotfix/*
pr:
  - master

jobs:
  - template: jobs/efMigration.yml@azureDevOpsTemplates # Template reference
    parameters:
      dbProjectPath: $(Build.SourcesDirectory)/BookingsAPI/Bookings.DAL/Bookings.DAL.csproj
      pool: Azure-VSTS-VS2017

  - template: jobs/angularDotNetCore.yml@azureDevOpsTemplates # Template reference
    parameters:
      sonarCloudExtraProperties: $(sonarCloudExtraProperties)
      integrationTestsAppSettingsTransform: $(integrationTestsAppSettingsTransform)
      coverletCoverageExclusions: $(coverletCoverageExclusions)
      apiDirectory: $(apiDirectory)
      dalWorkingDirectory: $(dalWorkingDirectory)
      keyVaultName: $(keyVaultName)
      secretsFilter: $(secretsFilter)
      dotNetCoreVersion: '3.1.100'
