name: $(Date:yyyyMMddhhmm)-$(Rev:r)

resources:
  repositories:
    - repository: azTemplates
      type: github
      name: hmcts/azure-devops-templates
      ref: master
      endpoint: hmcts

pr:
  - master

variables:
  - group: aks-cluster-info
  - group: vh-github-app-credentials

stages:
  - stage: Dock
    displayName: Build and Push Docker Image
    variables: 
      - group: aks-cluster-info
      - template: variables/dev.yaml
      - template: variables/shared.yaml
        parameters:
          env: ${{ variables.env }}
          cluster: $(dev_cluster)
      - group: vh-github-app-credentials

    jobs:
    - job: Dock
      displayName: "Build and Push image ${{ variables.git_repo_name }}"
      steps:
        - checkout: self

        - template: templates\Containerisation\docker\docker-compose.yaml@azTemplates
          parameters:
            azureSubscription: ${{ variables.acrSubscription }}
            acrName: ${{ variables.acrName }}
            repositoryName:  ${{ variables.repositoryName }}

        - template: templates\Containerisation\docker\docker-push-azure.yaml@azTemplates
          parameters:
            azureSubscription: ${{ variables.acrSubscription }}
            acrName: ${{ variables.acrName }}
            repositoryName:  ${{ variables.repositoryName }}
            imageName: "${{ replace(variables.git_repo_name, '-', '') }}"
            imageTags:
              - '${{ variables.prTagName }}'
  

  - stage: Install
    dependsOn: Dock
    displayName: Deploy Helm chart to Dev AKS
    variables:
      - group: vh-sql-credentials
      - template: variables/dev.yaml
      - template: variables/shared.yaml
        parameters:
          env: ${{ variables.env }}
          cluster: $(dev_cluster)
      - name: dnsRecordName
        value: ${{ variables.git_repo_name }}-${{ variables.prTagPrefix }}
    jobs:
      - job: Run_Entity_Framework
        pool:
         vmImage: 'windows-latest'
        displayName: Run Entity Framework
        steps:
          - task: AzureCLI@2
            name: AddFirewallRule
            displayName: Add SQL Firewall Rule
            continueOnError: false
            inputs:
              azureSubscription: ${{ variables.subscriptionName }}
              scriptType: pscore
              scriptLocation: inlineScript
              inlineScript: |
                $ruleName = "AzureDevOpsRule-$(Build.BuildId)"
                $publicIp = (Invoke-WebRequest -uri "http://ifconfig.me/ip").Content
                $sqlServer = "${{ variables.vhSQLServerName }}"
                $sqlResourceGroup = "${{ variables.vhResourceGroup }}"

                az sql server firewall-rule create -g $sqlResourceGroup  -s $sqlServer -n $ruleName  --start-ip-address $publicIp --end-ip-address $publicIp

                $check = az sql server firewall-rule list -g $sqlResourceGroup  -s $sqlServer

                if ($check -like "*$ruleName*") {
                  Write-Host "##vso[task.setvariable variable=fwRuleAdded;isOutput=true]yes"
                }
                else {
                  Write-Error "##[error]Failed To Add Firewall Rule To SQL Server..."
                  exit (0)
                }

          - template: templates/Database/EntityFramework/generate-script.yaml@azTemplates
            parameters:
              outputPath: $(Build.StagingDirectory)
              contextName: BookingsDbContext
              workingPath: $(System.DefaultWorkingDirectory)/BookingsApi/BookingsApi
              projectName: BookingsApi.csproj

          - template: templates/Database/EntityFramework/deploy-ms-sql.yaml@azTemplates
            parameters:
              azureSubscription: ${{ variables.subscriptionName }}
              dbServerName:  "${{ variables.vhSQLServerName }}.database.windows.net"
              databaseName: ${{ variables.BookingsApiDbName }}
              sqlScriptLocation: $(Build.StagingDirectory)/BookingsDbContext.sql
              sqlUsername: $(vh-infra-core-dev-user)
              sqlPassword: $(vh-infra-core-dev-pw)

          
          - task: AzureCLI@2
            name: RemoveFirewallRule
            displayName: Remove SQL Firewall Rule
            continueOnError: false
            condition: eq(variables['AddFirewallRule.fwRuleAdded'], 'yes')
            inputs:
              azureSubscription: ${{ variables.subscriptionName }}
              scriptType: pscore
              scriptLocation: inlineScript
              inlineScript: |
                $ruleName = "AzureDevOpsRule-$(Build.BuildId)"
                $sqlServer = "${{ variables.vhSQLServerName }}"
                $sqlResourceGroup = "${{ variables.vhResourceGroup }}"

                az sql server firewall-rule delete -g $sqlResourceGroup  -s $sqlServer -n $ruleName

      - job: aks_push
        displayName: Deploy to ${{ variables.clusterName }}
        steps:
          - template: templates/Containerisation/helm/helm-install.yaml@azTemplates
            parameters:
              privateKeyFileName: ${{ variables.gh_app_private_key_file_name }}
              appId: $(gh_app_app_id)
              envValuesTemplatePath: ${{ variables.envValuesTemplatePath }}
              envValuesPath: ${{ variables.envValuesPath }}
              acrName: ${{ variables.acrName }}
              repositoryName: ${{ variables.repositoryName }}
              prTagName: ${{ variables.prTagName }}
              releaseName: "${{ variables.chartName }}-${{ variables.prTagPrefix }}"
              dnsRecordName: ${{ variables.dnsRecordName }}
              dnsZone: ${{ variables.dnsZone }}
              env: ${{ variables.env }}
              chartName: ${{ variables.chartName }}
              chartPath: ${{ variables.chartPath }}
              subscriptionName: "${{ variables.subscriptionName }}"
              aksResourceGroupName: "${{ variables.clusterResourceGroup }}"
              aksClusterName: "${{ variables.clusterName }}"
              dnsSubscriptionName: "${{ variables.dnsZoneSubscription }}"
              dnsResourceGroupName: "${{ variables.dnsZoneResourceGroup }}"  

  - stage: Wait
    jobs:
      - job: Wait
        displayName: "Approve for release to QA"
        pool: server
        steps:
          - task: ManualValidation@0
            timeoutInMinutes: 1440 # task times out in 1 day
            inputs:
              instructions: 'Please approve the release of PR-$(System.PullRequest.PullRequestNumber) to the QA environment to resume'
              onTimeout: 'reject'

  - stage: Install_Demo
    displayName: Deploy Helm chart to QA AKS
    variables:
      - template: variables/qa.yaml
      - template: variables/shared.yaml
        parameters:
          env: ${{ variables.env }}
          cluster: $(demo_cluster)
      - name: dnsRecordName
        value: ${{ variables.git_repo_name }}-${{ variables.prTagPrefix }}
    jobs:
      - job: aks_push
        displayName: Deploy to ${{ variables.clusterName }}
        steps:
        - template: templates/Containerisation/helm/helm-install.yaml@azTemplates
          parameters:
            privateKeyFileName: ${{ variables.gh_app_private_key_file_name }}
            appId: $(gh_app_app_id)
            envValuesTemplatePath: ${{ variables.envValuesTemplatePath }}
            envValuesPath: ${{ variables.envValuesPath }}
            acrName: ${{ variables.acrName }}
            repositoryName: ${{ variables.repositoryName }}
            prTagName: ${{ variables.prTagName }}
            releaseName: "${{ variables.chartName }}-${{ variables.prTagPrefix }}"
            dnsRecordName: ${{ variables.dnsRecordName }}
            dnsZone: ${{ variables.dnsZone }}
            env: ${{ variables.env }}
            chartName: ${{ variables.chartName }}
            chartPath: ${{ variables.chartPath }}
            subscriptionName: "${{ variables.subscriptionName }}"
            aksResourceGroupName: "${{ variables.clusterResourceGroup }}"
            aksClusterName: "${{ variables.clusterName }}"
            dnsSubscriptionName: "${{ variables.dnsZoneSubscription }}"
            dnsResourceGroupName: "${{ variables.dnsZoneResourceGroup }}"