# Set variables once
variables:
  solutionType: dotNetCore # angularDotNetCore, dotNetCore
  sonarCloudPrepareExtraProperties: |  
    sonar.cs.opencover.reportsPaths=$(Common.TestResultsDirectory)\Coverage\coverage.opencover.xml
  coverletCoverageExclusions: '\"[Bookings.*Tests?]*,[Bookings.DAL.Migrations]*,[Bookings.DAL.Mappings]*,[Bookings.DAL.SeedData]*,[Bookings.DAL]BookingsDbContext\"'
  integrationTestsAppSettingsTransform: '
    "AzureAd/Authority":"$(AzureAd-Authority)",
    "AzureAd/VhBookingsApiResourceId":"$(AzureAd-VhBookingsApiResourceId)",
    "ConnectionStrings/VhBookings":"$(ConnectionStrings-VhBookings)",
    "Testing/TestClientId":"$(Testing-TestClientId)",
    "Testing/TestClientSecret":"$(Testing-TestClientSecret)"
    '
# GitHub Repo that conatins build templates. Reference https://docs.microsoft.com/en-us/azure/devops/pipelines/process/templates?view=vsts#using-other-repositories
resources:
  repositories:
  - repository: azureDevOpsTemplates
    type: github
    name: hmcts/azure-devops-templates
    ref: refs/heads/dotnet-restore # ref name to use, defaults to 'refs/heads/master'
    endpoint: 'GitHub connection 1'

trigger:
- master
pr:
- master

jobs:
  
- template: jobs/webapi.yml@azureDevOpsTemplates # Template reference
  parameters:
    sonarCloudExtraProperties: $(sonarCloudPrepareExtraProperties)
    solutionType: $(solutionType)