# Please refer https://aka.ms/HTTPSinContainer on how to setup an https developer certificate for your ASP .NET Core service.

version: '3.4'

networks:
  integration-tests:
    driver: bridge

services:

  vh-bookings-api--tests:
    image: bookings-api-tests
    build:
      context: ./
      dockerfile: tests/Dockerfile
    entrypoint:
      [
        "/wait-for-it.sh",
        "vh-bookingsapi-db-testing:1433",
        "-t",
        "120",
        "--",
        "/run-tests.sh"
      ]
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ConnectionStrings__VhBookings=Data Source=vh-bookingsapi-db-testing;Database=VhBookings;User Id=SA;Password=R4ndomP@assword;Trust Server Certificate=True;Encrypt=False
    volumes:
      - ./TestResults:/app/TestResults:rw
      - ./Coverage:/Coverage:rw
      - ./:/app:rw
      - ~/.microsoft/usersecrets:/root/.microsoft/usersecrets:ro
    depends_on:
      - vh-bookingsapi-db-testing
    networks:
      - integration-tests

  vh-bookingsapi-db-testing:
    image: mcr.microsoft.com/azure-sql-edge
    container_name: vh.bookingsapi.sql.testing
    expose:
      - 1433
    environment:
      - ACCEPT_EULA=Y
      - SA_PASSWORD=R4ndomP@assword
    networks:
      - integration-tests
