name: PR Tasks
on:
  pull_request:
    types:
      - closed
      - synchronize

permissions:
      id-token: write
      contents: read

env:
  ado_org: 'hmcts'
  ado_project: 'Video Hearings'
  ado_pipeline: 'azure-pipelines.sds.pr-close'
  pr_number: ${PR_NUMBER}

jobs:
  deployment:
    runs-on: ubuntu-latest
    steps:
      - uses: Azure/pipelines@v1.2
        with:
          azure-devops-project-url: 'https://dev.azure.com/${{ env.ado_org }}/${{ env.ado_project }}'
          azure-pipeline-name: ${{ env.ado_pipeline }}
          azure-devops-token: '${{ secrets.AZURE_DEVOPS_TOKEN }}'
          azure-pipeline-variables: '{"prNumber": "541","prNumber": "541"}' 
          #azure-pipeline-variables: '{"prNumber": "${{ env.pr_number }}"}' 
          